.art {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: down-right;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes down-right {
  0%   { left:100vw; top:100vh;}
  100%  { left:0px; top:0px;}

}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: DodgerBlue;
}
.flex-container {
  display: flex;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}


#container{

  height:80vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background:linear-gradient(to right bottom, rgba(192,192,192, 0.9),rgba(192,192,192, 0.3));
  border-radius: 2rem;
}


.info-box{
  margin: 20px;
    border-radius: 2rem;
}
